.features {
  position: relative;
}

.features::before {
  content: "";
  background: url("../img/bg-triangle.svg") no-repeat;
  height: 40px;
  width: 360px;
  position: absolute;
  top: 0;
  left: 0;
}

.features__item {
  padding: 20px 20px 0 20px;
}

.features__item--detailed {
  background: $half-baked;
  color: $white;
}

.features__item--arrowed {
  padding-top: 20px;
}

.features__title {
  font-size: 18px;
  font-weight: 700;
  color: $black;
  margin-bottom: 20px;
}

.features__title--highlight {
  color: $white;
  padding-top: 25px;
}

.features__description {
  color: $mine-shaft;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 40px;
}

.features__description--highlight {
  color: $white;
}

.features__description--number {
  padding-bottom: 20px;
}

.features__description--number::after,
.features__description--number::before {
  content: " — ";
}

.features__cover {
  //width: 100%;
  //margin: 0 -20px;
}

.features__item--unordered {
  padding-left: 72px;
  position: relative;
}

.features__item--unordered::before {
  content: "";
  width: 39px;
  height: 37px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: $half-baked;
}

.features__item--housing::before {
  mask: url("../img/icon-house.svg") no-repeat;
}

.features__item--gifts::before {
  mask: url("../img/icon-gift.svg") no-repeat;
}

.features__item--food::before {
  mask: url("../img/icon-burger.svg") no-repeat;
}

.features__title--unordered {
  text-align: left;
}

.features__description--unordered {
  text-align: left;
}

.features__item--brief {
  background: $gallery;
  position: relative;
}

.features__item--brief::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid $alto;
  width: 90%;
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
}

.features__item--brief:last-of-type::after {
  border-bottom: none;
}
