.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
  background: $white;
}

.main-nav__link {
  font-size: 18px;
  font-weight: 700;
  color: $white;
}

.main-nav__item {
  background: $half-baked;
  padding: 17px;
  border-bottom: 1px solid $bermuda-gray;
}

.main-nav__item--last {
  border-bottom: none;
  //shadow:
}

.main-nav__top-bar {
  height: 56px;
  background: $white;
  width: 100%;
  position: relative;
}

.main-nav__toggle {
  width: 23px;
  height: 23px;
  font-size: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
}

.main-nav__toggle--close {
  mask: url("../img/icon-cross.svg") no-repeat;
  background-color: $white;
}

.main-nav__toggle--open {
  mask: url("../img/icon-menu.svg") no-repeat;
  background-color: $half-baked;
}



@media (min-width: $tablet-width) {

}
