.photos__item {
  //margin-top: 20px;
  padding: 20px;
}

.photos__title {
  font-size: 14px;
  font-weight: 700;
  color: $black;
  text-align: left;
  margin-bottom: 10px;
}

.photos__author {
  font-size: 14px;
  color: $mine-shaft;
  text-transform: none;
  text-align: left;
  margin-bottom: 10px;

  &::before {
    content: "Автор: ";
  }
}

.photos__likes {
  font-size: 14px;
  font-weight: 700;
  color: $black;
  text-align: left;
  padding-left: 35px;
  position: relative;

  &::before {
    content: "";
    mask-image: url("../img/icon-like.svg");
    mask-repeat: no-repeat;
    background: $silver-chalice;
    position: absolute;
    width: 23px;
    height: 21px;
    bottom: 0;
    left: 0;
  }
}

.photos__image {
  margin-bottom: 10px;
}
