//$half-baked: #81b3d2;
//$bermuda-gray: #678fa8;
//$mine-shaft: #333333;
//$white: #ffffff;
//$black: #000000;
//$gallery: #eeeeee;
//$alto: #d6d6d6;
//$silver-chalice: #b2b2b2;
//$concrete: #f2f2f2;
//$mercury: #e6e6e6;
//$tablet-width: 768px;
//$desktop-width: 1200px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $mine-shaft;
  text-decoration: none;
  transition: 0.4s;
  outline: none;
  text-transform: uppercase;
}

html,
body {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.page-wrapper {
  min-width: 320px;
  background: $concrete;
  display: block;
  margin: 0 auto;
}

.site-width {
  text-align: center;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.site-list {
  list-style-type: none;
}

.btn-normalize {
  background: none;
  border: none;
  outline: none;
}

.site-button {
  background: $half-baked;
  color: $white;
  font-size: 21px;
  font-weight: 700;
  padding: 15px;
  outline: none;
  border: none;
}

.separator {
  position: relative;
}

.separator::after {
  content: "";
  height: 1px;
  width: 100%;
  border-bottom: 1px solid $alto;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-width: $tablet-width) {
  .separator::after {
    display: none;
  }
}
