.copyright__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 0;
}

@media (min-width: $desktop-width) {
  .copyright__wrapper {
    position: relative;
    left: 85px;
  }
}

.copyright__icon {
  display: inline-block;
  fill: $black;
  width: 27px;
  height: 34px;
  margin-left: 15px;
}

.copyright__wrapper:hover .copyright__icon path {
  fill: $half-baked;
}

.copyright__wrapper:active .copyright__icon path {
  fill: $silver-chalice;
}
