.copyright__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 43px;
}

.copyright__logo {
  display: inline-block;
  fill: $black;
  width: 27px;
  height: 34px;
  margin-left: 5px;
}

.copyright__icon {
  margin: 0 0 0 15px;
}

.copyright__icon::before {
  font-size: 34px;
  color: $black;
}

.copyright__wrapper:hover .copyright__icon::before {
  color: $half-baked;
}

.copyright__wrapper:active .copyright__icon::before {
  color: $silver-chalice;
}
