///////////////////////////////////////////////
//FEEDBACK

.feedback {
  width: $mobile-width;
  margin: 0 auto;
  background-color: $white;
}

@media (min-width: $tablet-width) {
  .feedback {
    width: $tablet-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 60px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    width: $desktop-width;
  }
}

///////////////////////////////////////////////
//FEEDBACK__QUESTIONS-SET

.feedback__questions-set {
  padding: 19px 20px 27px;
}

.feedback__questions-set--text {
  order: 1;
}

@media (min-width: $tablet-width) {
  .feedback__questions-set--text {
    width: 324px;
    padding: 0 0 0 55px;
  }
}

.feedback__questions-set--radio {
  padding: 19px 20px 29px;
  order: 0;
}

@media (min-width: $tablet-width) {
  .feedback__questions-set--radio {
    width: 324px;
    padding: 0 50px 0 0;
    border-right: 1px solid $alto;
  }
}

.feedback__questions-set--misc {
  order: 2;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .feedback__questions-set--misc {
    padding: 70px 0 34px;
  }
}

.feedback__questions-set--check {
  padding: 19px 20px 27px;
  order: 4;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .feedback__questions-set--check {
    padding: 19px 0 0;
  }
}

.feedback__questions-set--textarea {
  order: 5;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .feedback__questions-set--textarea {
    padding: 14px 0 36px;
  }
}

///////////////////////////////////////////////
//FEEDBACK__ITEMS-WRAPPER

@media (min-width: $tablet-width) {
  .feedback__items-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    align-items: center;
    align-content: center;
    position: relative;
    left: 30px;
  }
}

///////////////////////////////////////////////
//FEEDBACK__TITLE

.feedback__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  margin: 0 0 19px 0;
  position: relative;
}

@media (min-width: $tablet-width) {
  .feedback__title {
    font-size: 21px;
  }
}

.feedback__title--misc {
  margin: 0 0 23px 0;
}

@media (min-width: $tablet-width) {
  .feedback__title--misc {
    margin: 0 0 29px 0;
  }
}

.feedback__title--separator::before,
.feedback__title--separator::after {
  content: "";
  display: none;
  height: 1px;
  width: 125px;
  background: $alto;
  position: absolute;
  top: 13px;
  left: 0;
}

@media (min-width: $tablet-width) {
  .feedback__title--separator::after,
  .feedback__title--separator::before {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .feedback__title--separator::after {
    left: auto;
    right: 0;
  }
}

.feedback__title--check {
  margin: 0 0 15px 0;
}

@media (min-width: $tablet-width) {
  .feedback__title--check {
    padding: 0 120px;
    margin: 0 0 41px 0;
  }
}

@media (min-width: $tablet-width) {
  .feedback__title--check::after,
  .feedback__title--check::before {
    top: 25px;
  }
}

.feedback__title--radio {
  margin: 0 0 21px 0;
}

@media (min-width: $tablet-width) {
  .feedback__title--radio {
    text-align: left;
    margin: 0 0 58px 0;
  }
}

@media (min-width: $tablet-width) {
  .feedback__title--text {
    text-align: left;
    margin: 0 0 56px 0;
  }
}

.feedback__title--textarea {
  margin: 0 0 14px 0;
}

@media (min-width: $tablet-width) {
  .feedback__title--textarea {
    margin: 0 0 52px 0;
  }
}

///////////////////////////////////////////////
//FEEDBACK__ITEM

.feedback__item {
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.feedback__item:last-of-type {
  margin: 0 0 0 0;
}

.feedback__item--misc {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 0 17px 0;
}

@media (min-width: $tablet-width) {
  .feedback__item--misc {
    margin: 0 0 26px 0;
  }
}

.feedback__item--radio,
.feedback__item--check {
  justify-content: flex-start;
  margin: 0 0 13px 0;

  &:last-of-type {
    margin: 0 0 0 0;
  }
}

@media (min-width: $tablet-width) {
  .feedback__item--radio {
    margin: 0 0 21px 0;
  }
}

.feedback__item--check {
  margin: 0 0 24px 0;
  width: 260px;
}

@media (min-width: $tablet-width) {
  .feedback__item--check {
    margin: 0 0 32px 0;
  }
}

///////////////////////////////////////////////
//FEEDBACK__ANSWER

.feedback__answer {
  background: $concrete;
  border: none;
  color: $black;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 0 20px 0 24px;
  text-align: left;
  vertical-align: middle;
  width: 100%;
  height: 58px;

  &::-webkit-input-placeholder {
    color: $black;
    text-align: left;
  }
}

.feedback__answer--textarea {
  resize: none;
  padding: 20px 20px 18px 20px;
  height: 118px;
}

.feedback__answer:focus::-webkit-input-placeholder {
  color: transparent;
}

///////////////////////////////////////////////
//FEEDBACK__QUESTION

.feedback__question {
  font-size: 14px;
  color: $mine-shaft;
  margin-right: 12px;
  text-align: left;
}

.feedback__question--misc {
  padding: 0 0 11px 20px;
}

.feedback__question--radio,
.feedback__question--check {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  color: $black;
  width: 100%;
  padding: 23px 0 23px 80px;
  margin-right: 0;
  flex-grow: 1;
}

.feedback__question--check {
  padding: 15px 0 15px 80px;
}

.feedback__question--radio {
  padding: 15px 0 15px 80px;
}

.feedback__answer--radio,
.feedback__answer--check {
  width: 0;
  height: 0;
  opacity: 0;

  & + .feedback__question--radio::before {
    content: "";
    display: block;
    border-radius: 50%;
    background: $concrete;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 0;
    top: 0;
  }

  &:checked + .feedback__question--radio::after {
    content: "";
    display: block;
    border-radius: 50%;
    background: $mine-shaft;
    width: 23px;
    height: 23px;
    position: absolute;
    left: 17px;
    top: 24px;
  }

  & + .feedback__question--check::before {
    content: "";
    display: block;
    border-radius: 6px;
    background: $concrete;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 0;
    top: 0;
  }

  &:checked + .feedback__question--check::after {
    content: "";
    display: block;
    background: url("#{$path-to-img}/icon-tick.svg") no-repeat;
    width: 24px;
    height: 16px;
    position: absolute;
    left: 18px;
    top: 20px;
  }
}

///////////////////////////////////////////////
//FEEDBACK__ANSWER__WRAPPER

.feedback__answer__wrapper {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    background: $mercury;
    position: absolute;
    top: 0;
    right: 0;
  }

  &::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.feedback__answer__wrapper--email {
  &::after {
    background: url("#{$path-to-img}/icon-mail.svg") no-repeat;
  }
}

.feedback__answer__wrapper--tel {
  &::after {
    background: url("#{$path-to-img}/icon-phone.svg") no-repeat;
  }
}

///////////////////////////////////////////////
//FEEDBACK__COMPLETION

.feedback__completion {
  order: 6;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 68px 20px 43px;
}

@media (min-width: $tablet-width) {
  .feedback__completion {
    padding: 68px 0 63px;
    justify-content: space-between;
  }
}

///////////////////////////////////////////////
//FEEDBACK__BUTTON

.feedback__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .feedback__button {
    width: 324px;
  }
}

///////////////////////////////////////////////
//FEEDBACK__LEGEND

.feedback__legend {
  font-size: 14px;
  display: none;
}

@media (min-width: $tablet-width) {
  .feedback__legend {
    display: block;
  }
}
