.hashtag {
  padding: 0 32px 34px;
  display: block;
}

@media (min-width: $tablet-width) {
  .hashtag {
    padding: 0 0;
    line-height: 26px;
  }
}

.hashtag__name {
  font-size: 21px;
  color: $black;
  font-weight: 700;
}
