///////////////////////////////////////////////
//INTRO

.intro {
  padding: 44px 30px 14px;
  margin: 0 auto;
  width: $mobile-width;
  background: $white;
  position: relative;
}

@media (min-width: $tablet-width) {
  .intro {
    width: $tablet-width;
    padding: 50px 20px 50px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    width: $desktop-width;
  }
}

.intro--photo {
  padding: 40px 25px 24px;
}

@media (min-width: $tablet-width) {
  .intro--photo {
    padding: 75px 165px 68px;
  }
}

@media (min-width: $desktop-width) {
  .intro--photo {
    padding: 112px 385px 69px;
  }
}

.intro--form {
  padding: 39px 22px 17px;
}

.intro--home::after {
  content: "";
  position: absolute;
  background-image: url("#{$path-to-img}/bg-triangle.svg");
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: cover;
  width: 320px;
  height: 37px;
  bottom: -30px;
  left: 0;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .intro::after {
    display: none;
  }
}

///////////////////////////////////////////////
//INTRO__TITLE

.intro__title {
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  font-weight: 700;
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .intro__title {
    width: 460px;
    font-size: 21px;
  }
}

.intro__title--photo {
  font-size: 18px;
  line-height: 26px;
}

@media (min-width: $tablet-width) {
  .intro__title--photo {
    font-size: 30px;
    margin-bottom: 30px;
    width: 100%;
  }
}

.intro__title--form {
  margin-bottom: 27px;
}

///////////////////////////////////////////////
//INTRO__DESCRIPTION

.intro__description {
  font-size: 14px;
  line-height: 26px;
  color: $mine-shaft;
}

.intro__description--form {
  line-height: 24px;
}
