///////////////////////////////////////////////
//MAIN-NAV

.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
  background: $white;
  transition: 0.4s;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 768px;
    max-height: 55px;
    background: $white;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1200px;
  }
}

///////////////////////////////////////////////
//MAIN-NAV__LIST

@media (max-width: $tablet-width) {
  .main-nav--opened .main-nav__list {
    display: block;
  }

  .main-nav--nojs ul.main-nav__list {
    display: block;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-around;
  }
}

///////////////////////////////////////////////
//MAIN-NAV__LINK

.main-nav__link {
  font-size: 18px;
  font-weight: 700;
  color: $white;
  transition: 0.4s;
  display: block;
  width: 100%;
  line-height: 55px;
}

@media (max-width: $tablet-width) {
  .main-nav__item:active .main-nav__link,
  .main-nav__link--active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .main-nav__link {
    font-size: 14px;
    color: $black;
  }

  .main-nav__link:hover {
    color: $half-baked;
  }

  .main-nav__link:active {
    color: rgba(0, 0, 0, 0.3);
  }

  .main-nav__link--active {
    color: $pine-cone;
    cursor: pointer;
  }

  .main-nav__link--active:hover {
    color: #604e43;
  }

  .main-nav__link--active:active {
    color: rgba(118, 99, 87, 0.3);
  }
}

///////////////////////////////////////////////
//MAIN-NAV__ITEM

.main-nav__item {
  background: $half-baked;
  border-bottom: 1px solid $bermuda-gray;
  border-top: 1px solid $aqua-island;
  display: block;
  transition: 0.4s;

  &:first-of-type {
    border-top: none;
  }
}

.main-nav__item--last {
  border-bottom: none;
  box-shadow: inset 0 -8px 7px -7px rgba(26, 37, 43, 0.4);
}

.main-nav__item--disabled {
  background: $mercury;
}

@media (max-width: $tablet-width) {
  .main-nav__item:hover {
    background: $fountain-blue;
  }

  .main-nav__item:active,
  .main-nav__item--active {
    background: $steel-blue;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__item {
    background: $white;
    border: none;
    padding: 0;
    margin: 0 auto;
    line-height: 56px;
    box-shadow: none;
    flex-basis: 25%;
    flex-shrink: 1;
  }

  .main-nav__item:nth-of-type(2) {
    margin-right: 55px;
    flex-shrink: 0;
  }

  .main-nav__item:nth-of-type(3) {
    margin-left: 55px;
    flex-shrink: 0;
  }
}

@media (min-width: $desktop-width) {

  .main-nav__item:nth-of-type(2) {
    margin-right: 90px;
    flex-shrink: 0;
  }

  .main-nav__item:nth-of-type(3) {
    margin-left: 90px;
    flex-shrink: 0;
  }
}

///////////////////////////////////////////////
//MAIN-NAV_TOP-BAR

.main-nav__top-bar {
  height: 56px;
  background: $white;
  width: 100%;
  position: relative;
}

@media (min-width: $tablet-width) {
  .main-nav__top-bar {
    position: relative;
    top: -56px;
    left: auto;
    right: auto;
    margin: 0 auto;
    background: none;
    width: 102px;
  }
}

///////////////////////////////////////////////
//MAIN-NAV__LOGO

.main-nav__logo {
  margin: 0 auto;
}

///////////////////////////////////////////////
//MAIN-NAV__IMAGE

.main-nav__image {
  position: relative;
  z-index: 1;
}

///////////////////////////////////////////////
//MAIN-NAV__TOGGLE

.main-nav__toggle {
  width: 23px;
  height: 23px;
  font-size: 0;
  position: absolute;
  top: 16px;
  right: 18px;
  z-index: 5;
  cursor: pointer;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--opened .main-nav__toggle {
  &::before {
    font-size: 23px;
    color: $white;
  }
}

.main-nav--closed .main-nav__toggle {
  &::before {
    font-size: 23px;
    color: $half-baked;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
