///////////////////////////////////////////////
//MAIN-NAV

.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
  background: $white;
}

@media (max-width: $tablet-width) {
  .main-nav--opened .main-nav__list {
    display: block;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 768px;
    height: 56px;
    background: $white;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1200px;
  }
}

///////////////////////////////////////////////
//MAIN-NAV__LIST

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-around;
  }
}

.main-nav__link {
  font-size: 18px;
  font-weight: 700;
  color: $white;
}

///////////////////////////////////////////////
//MAIN-NAV__LINK

@media (min-width: $tablet-width) {
  .main-nav__link {
    font-size: 14px;
    line-height: 23px;
    color: $black;
  }
}

///////////////////////////////////////////////
//MAIN-NAV__ITEM

.main-nav__item {
  background: $half-baked;
  padding: 15px;
  border-bottom: 1px solid $bermuda-gray;
  border-top: 1px solid $aqua-island;
  display: block;

  &:first-of-type {
    border-top: none;
  }
}

.main-nav__item--last {
  border-bottom: none;
  box-shadow: inset 0 -8px 7px -7px rgba(26, 37, 43, 0.4);
}

//ПОДУМАТЬ - нужно сделать меню флекс базис, как-то разбить всю ширину на две половины

@media (min-width: $tablet-width) {
  .main-nav__item {
    background: $white;
    border: none;
    padding: 0;
    margin: 0 25px;
    line-height: 56px;
    box-shadow: none;
  }

  .main-nav__item:nth-of-type(2) {
    margin-right: auto;
  }

  .main-nav__item:nth-of-type(3) {
    margin-left: auto;
  }
}

///////////////////////////////////////////////
//MAIN-NAV_TOP-BAR

.main-nav__top-bar {
  height: 56px;
  background: $white;
  width: 100%;
  position: relative;
}

@media (min-width: $tablet-width) {
  .main-nav__top-bar {
    position: relative;
    top: -56px;
    left: auto;
    right: auto;
    margin: 0 auto;
    background: none;
    width: 102px;
  }
}

///////////////////////////////////////////////
//MAIN-NAV__LOGO

.main-nav__logo {
  margin: 0 auto;
}

///////////////////////////////////////////////
//MAIN-NAV__IMAGE

.main-nav__image {
  position: relative;
  z-index: 1;
}

///////////////////////////////////////////////
//MAIN-NAV__TOGGLE

//.main-nav__toggle {
//  width: 23px;
//  height: 23px;
//  font-size: 0;
//  position: absolute;
//  top: 15px;
//  right: 15px;
//  z-index: 5;
//}
//
//.main-nav__toggle--open::before {
//  font-size: 23px;
//  color: $half-baked;
//}
//
//.main-nav__toggle--close::before {
//  font-size: 23px;
//  color: $white;
//}
//
//@media (min-width: $tablet-width) {
//  .main-nav__toggle {
//    display: none;
//  }
//}

.main-nav--opened .main-nav__toggle {
  width: 23px;
  height: 23px;
  font-size: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;

  &::before {
    font-size: 23px;
    color: $white;
  }
}

.main-nav--closed .main-nav__toggle {
  width: 23px;
  height: 23px;
  font-size: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;

  &::before {
    font-size: 23px;
    color: $half-baked;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
