.map__frame {
  width: $mobile-width;
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .map__frame {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .map__frame {
    width: $desktop-width;
  }
}
