.map__frame {
  width: $mobile-width;
  display: block;
  margin: 0 auto;
  background-image: url("#{$path-to-img}/bg-map-mobile@1x.jpg");
  background-size: 320px 350px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("#{$path-to-img}/bg-map-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .map__frame {
    width: $tablet-width;
    background-image: url("#{$path-to-img}/bg-map-tablet@1x.jpg");
    background-size: 768px 350px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("#{$path-to-img}/bg-map-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .map__frame {
    width: $desktop-width;
    background-image: url("#{$path-to-img}/bg-map-desktop@1x.jpg");
    background-size: 1200px 350px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("#{$path-to-img}/bg-map-desktop@2x.jpg");
    }
  }
}
