.page-footer {
  margin: 0 auto;
  background: $white;
  width: $mobile-width;
  padding: 30px 0 43px 0;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: $tablet-width;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 30px 0 43px 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: $desktop-width;
    padding: 35px 0 43px 0;
  }
}
