.page-header {
  width: 320px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width;
  }
}
