///////////////////////////////////////////////
//PHOTOS

.photos {
  margin: 0 auto;
  width: $mobile-width;
  background: $white;
}

@media (min-width: $tablet-width) {
  .photos {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .photos {
    width: $desktop-width;
  }
}

///////////////////////////////////////////////
//PHOTOS__ITEM

.photos__item {
  padding: 22px 20px 18px;
  width: 100%;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .photos__item {
    padding: 0;
    width: 324px;
    font-size: 0;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .photos__item {
    width: 400px;
  }
}

@media (min-width: $tablet-width) {
  .photos__item--large {
    width: 100%;
  }
}

///////////////////////////////////////////////
//PHOTOS__LIST

.photos__list {
  list-style: none;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .photos__list {
    width: 648px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .photos__list {
    width: $desktop-width;
  }
}

///////////////////////////////////////////////
//PHOTOS__TITLE

.photos__title {
  font-size: 14px;
  font-weight: 700;
  color: $black;
  text-align: left;
  margin-bottom: 6px;
}

@media (min-width: $desktop-width) {
  .photos__title {
    color: $white;
  }
}

///////////////////////////////////////////////
//PHOTOS__CAPTION

.photos__caption {
  text-align: left;
}

@media (min-width: $tablet-width) {
  .photos__caption {
    background: $concrete;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 19px 30px 9px 20px;
  }

  .photos__caption--large {
    padding: 19px 20px 9px 20px;
  }
}

@media (min-width: $tablet-width) and (max-width: 1199px) {
  .photos__caption:hover {
    background: $gallery;
  }
}


@media (min-width: $desktop-width) {
  .photos__caption {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

///////////////////////////////////////////////
//PHOTOS__AUTHOR

.photos__author {
  font-size: 14px;
  color: $mine-shaft;
  text-transform: none;
  text-align: left;
  margin-bottom: 10px;

  &::before {
    content: "Автор фото: ";
  }
}

@media (min-width: $desktop-width) {
  .photos__author {
    color: $white;
  }
}

///////////////////////////////////////////////
//PHOTOS__LIKES

.photos__likes {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
  text-align: left;
  margin-left: 8px;
  position: relative;
  bottom: 2px;
}

@media (min-width: $tablet-width) {
  .photos__likes--highlighted {
    position: relative;
    right: 5px;
  }
}

@media (min-width: $desktop-width) {
  .photos__likes {
    color: $white;
  }
}

///////////////////////////////////////////////
//PHOTOS__UPVOTES

.photos__upvotes {
  display: inline-block;
  width: 22px;
  height: 20px;
  cursor: pointer;
  fill: $silver-chalice;
}

@media (min-width: $tablet-width) {
  .photos__upvotes {
    margin-left: auto;
    position: relative;
    bottom: 5px;
  }

  .photos__upvotes--highlighted {
    position: relative;
    right: 8px;
  }
}

@media (min-width: $desktop-width) {
  .photos__upvotes {
    fill: $white;
  }
}

///////////////////////////////////////////////
//PHOTOS__IMAGE

.photos__image {
  margin-bottom: 16px;
  width: 100%;
  height: auto;
  display: block;
  background-color: #9e774c;
}

@media (min-width: $tablet-width) {
  .photos__image {
    margin-bottom: 0;
    height: 267px;
  }

  .photos__image--large {
    height: 400px;
  }
}

///////////////////////////////////////////////
//PHOTOS__FULLSIZE

.photos__fullsize {
  height: 280px;
}

@media (min-width: $tablet-width) {
  .photos__fullsize {
    height: 268px;
  }

  .photos__fullsize--large {
    height: 400px;
  }
}
