.photos {
  margin: 0 auto;
  width: $mobile-width;
  background: $white;
}

@media (min-width: $tablet-width) {
  .photos {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .photos {
    width: $desktop-width;
  }
}

.photos__item {
  padding: 20px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .photos__item {
    padding: 0;
    width: 324px;
    font-size: 0;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .photos__item {
    width: 400px;
  }
}

@media (min-width: $tablet-width) {
  .photos__item--large {
    width: 100%;
  }
}

.photos__list {
  list-style: none;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .photos__list {
    width: 648px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .photos__list {
    width: $desktop-width;
  }
}

.photos__title {
  font-size: 14px;
  font-weight: 700;
  color: $black;
  text-align: left;
  margin-bottom: 10px;
}

@media (min-width: $desktop-width) {
  .photos__title {
    color: $white;
  }
}

@media (min-width: $tablet-width) {
  .photos__caption {
    background: $concrete;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .photos__caption {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

.photos__author {
  font-size: 14px;
  color: $mine-shaft;
  text-transform: none;
  text-align: left;
  margin-bottom: 10px;

  &::before {
    content: "Автор: ";
  }
}

@media (min-width: $desktop-width) {
  .photos__author {
    color: $white;
  }
}

.photos__likes {
  font-size: 14px;
  font-weight: 700;
  color: $black;
  text-align: left;
  padding-left: 35px;
  position: relative;

  &::before {
    content: "";
    mask-image: url("#{$path-to-img}/icon-like.svg");
    mask-repeat: no-repeat;
    background-color: $silver-chalice;
    position: absolute;
    width: 23px;
    height: 21px;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .photos__likes {
    color: $white;
  }

  .photos__likes::before {
    background-color: $white;
  }
}

.photos__image {
  margin-bottom: 10px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .photos__image {
    margin-bottom: 0;
  }
}

.photos__fullsize {
  font-size: 0;
}
